* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial;
}

nav {
	background: #1abc9c;
	padding: 1em;
	padding-left: 15%;
	color: white;
	margin-bottom: 1em;
}

section {
	margin: 1em;
	margin: 2% 15%;
}

section > h1 {
	margin-bottom: 2%;
}

#url {
	width: 95%;
}

#images > img {
	width: 100%;
	border: 0.2em solid #ccc;
}